name: PR Analysis
on:
  pull_request:
    branches:
      - master
      - develop
    types:
      - opened
      - edited
      - synchronize

jobs:
  test_pr:
    name: Test PR
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build_test:
    name: Building
    needs:
      - test_pr
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node and Dependencies
        uses: ./.github/actions/setup
      - name: Build
        run: yarn build
