---
name: Scheduled Integration Tests
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

jobs:
  mdBook:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: MdBook (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest mdbook
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test mdBook binary
        run: mdbook --version || exit 1

  linkcheck:
    needs: [mdBook]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: Mdbook Linkcheck (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest linkcheck
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-linkcheck: true
      - name: Test mdbook-linkcheck binary
        run: mdbook-linkcheck --version || exit 1

  mermaid:
    needs: [mdBook]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: Mdbook Mermaid (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest mermaid
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-mermaid: true
      - name: Test mdbook-mermaid binary
        run: mdbook-mermaid --version || exit 1

  toc:
    needs: [mdBook]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: Mdbook ToC (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest toc
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-toc: true
      - name: Test mdbook-toc binary
        run: mdbook-toc --version || exit 1

  open_on_gh:
    needs: [mdBook]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: Mdbook OpenOnGh (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest open-on-gh
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-opengh: true
      - name: Test mdbook-open-on-gh binary
        run: mdbook-open-on-gh --version || exit 1

  admonish:
    needs: [mdBook]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: Mdbook Admonish (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest admonish
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-admonish: true
      - name: Test mdbook-admonish binary
        run: mdbook-admonish --version || exit 1

  katex:
    needs: [mdBook]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        version: [18, 20]
    runs-on: ${{ matrix.os }}
    name: Mdbook Katex (Node ${{ matrix.version }} - ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v5
      - name: Setup matrix node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - name: Download latest katex
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-katex: true
      - name: Test mdbook-katex binary
        run: mdbook-katex --version || exit 1
