name: Test
on:
  workflow_call:

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node and Dependencies
        uses: ./.github/actions/setup
      - name: Check lint
        run: yarn lint

  unittests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node and Dependencies
        uses: ./.github/actions/setup
      - name: Run unittests
        run: yarn test
      - name: Save coverage
        uses: actions/upload-artifact@v2
        with:
          name: lcov.info
          path: coverage/lcov.info

  sonarcloud:
    name: SonarCloud Scan
    needs: [unittests, lint]
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Execute sonar action
        uses: ./.github/actions/sonar_scan
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}
